body {
  background-color: #da8c8c;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  margin: 60px;
  height: 100vh;
}

h1 {
  display: inline-block;
  border: 1px solid #090808;
  border-radius: 10px;
  padding: 10%;
  width: 100%;
}
input[type="text"] {
  padding: 10px;
  width: 250px;
  border: 1px solid #100f0f;
}
button {
  background-color: #7f857f;
  color: white;
}
li {
  background: rgb(235, 227, 227);

  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  padding: 0;

  width: 300px;
  height: 40%; /* hauteur visible (environ 6–7 tâches) */
  overflow-y: scroll; /* ajoute un scroll si trop d’éléments */

  background: #b5a3a3;
  border: 1px solid #040404;
  border-radius: 8px;
}

/* Classe pour les tâches terminées */
.completed {
  text-decoration: line-through; /* barre le texte */
  color: rgb(194, 140, 140); /* change la couleur du texte */
  background-color: #f68989; /* fond clair pour indiquer que c’est fait */
}
